html {	
	background-image:	url(../images/background.jpg);
    background-attachment:	fixed;
    min-width: 400px;
}

body {
	background:	rgba(255,255,255,0.65);
    margin: 0 auto;
    max-width: 80%;
    font-family:		Verdana;
}

header {
    color: #AC4C39;
    text-align: center;
    font-size: 48px;
    padding: 30px; 
}

.container {   
    display: flex;
    flex-direction: row;

}

img {
    width: 70%;
}





nav {
    
    padding: 30px 0 30px 30px;
    font-size: 250%;
    line-height: 200%;
    font-style: italic;
    font-weight: 900;

}

nav ul {
    list-style-type: none;

}

main {
    background:	rgba(255,255,255,0.95);
    font-size: 24px; 
    padding: 10px;
flex-shrink: 30;
}

p {
     text-indent: 40px; 
}



aside {
    padding: 20px;
    line-height: 200%;
    width: 200px;

}

footer {
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    padding: 10px;
    color: #AC4C39;       
}

a:link {
    text-decoration: none;

}

nav ul li a:link, nav ul li a:visited {
	color:				#954b4b;
	text-decoration:	none;
}

li.selected {
    background:	rgba(255,255,255,0.95);
}

@media screen and (max-width: 1024px) {

    body {
       margin: 0;
        max-width: 100%;
    }

    .container {
        flex-direction: column;
    }

    h1 {
        font-size: 100%;
        margin: 0;
    }

    h2 {
        font-size: 100%; 
    }

    nav {
        background:	rgba(255,255,255,0.95);
        padding: 0 0 0 10px;
    }
    ul {
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline;
        font-size: 24px;

    }

    aside {
        margin: 10px;
    }

    aside ul li {
        font-size: 20px;
    }

    img {
        width: 100%;
    }
}