body {
	background-color:    #eeeeee;
	font-size:   middle; 
	font-family: Verdana, Helvetica, Arial, sans-serif; 
	line-height: 1.6em;
} 

h1 {
  font-size:        120%;
  color:            #954b4b;
}

header.top {
	background-color:    #a7cece;
	text-align:		center;
	padding:			20px 20px 20px 20px;
	margin:				0px 10px 0px 10px;
}

header h1 {
	color:			black;
}

#cover {
	max-width:	100%

nav {
	background-color: #efe5d0;
	margin: 10px 10px 0px 10px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
	color: #954b4b;
	text-decoration: none;
	border-bottom: none;
	font-weight: bold;
}
nav ul li.selected {
	background-color: #c8b99c;
}

#tableContainer {
	
	display:			table;
	border-spacing:		10px;
}

#tableRow {
	display: table-row;
}

section#main, section#blog {
	display:			table-cell;
	border: #007e7e thin solid;
	
	
	background-color:    #a7cece;
	background-image:    url(images/background.gif);
	background-repeat:   no-repeat;
	padding:			20px 20px 20px 80px;
	margin:				10px 0px 10px 0px;
	
	
}

footer {
	background-color:    #a7cece;
	font-size: 70%;
	line-height: normal;
	margin:           0px 10px 0px 10px;
	text-align:	center;

	  padding:          15px;
}

#allContent {
	width:		1200px;
	margin-left:		auto;
	margin-right:		auto;
	border-color:		black;
	border-width:		2px;
	border-style:		dotted;
	background-color:	#b5a789;
}
